body{
    background-image: url(/assets/Images/musical-notes-with-sound-wave-background/MusicBackground.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
}


